<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/StyleSheet.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <span class="text1">Hello!</span>
        <span class="text2">Welcome to ADBMS!</span>

    </div>
</body>

</html>